@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

body {
    padding: 0;
    margin: 0;
    height: 100%;
}

* {
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

/* Config do scroll */

body::-webkit-scrollbar {
    width: 12px;               
  }
  
  body::-webkit-scrollbar-track {
    background: #0c1f36;        
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: #ec9c47;    
    border-radius: 20px;       
    border: 3px solid #0c1f36;  
  }

/* config navbar */

#titulo_back {
    font-family: trajan-pro-3, serif;
    font-style: normal;
    font-weight: 400;
    color: white;
}

.abaixo_titulo {
    width: 11%;
    height: auto;
    position: fixed;
    margin: 1% 0% 0% -10.3%;
    filter: drop-shadow(0 0 0.75rem #ec9c47);
}

#logo {
    height: 84%;
    cursor: pointer;
    margin-left: 3.5%;
}

#myvideo {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: -1 !important;
}

#navbar {
    position: fixed;
    height: 8vh;
    width: 100vw;
    background-color: #0c1f36ba;
    z-index: 99;
    transition: all 0.5s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}

#container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 95%;
}

#profile_pic {
    width: 53%;
    height: auto;
    border-radius: 50%;
}

#div_usuario {
    cursor: pointer;
    height: auto;
    width: 5%;
    display: flex;
    font-size: 0.7em;
    color: white;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 0.5%;
}

#nome_usuario {
    font-family: 'Poppins', sans-serif;
}

.seta {
    transform: rotate(270deg);
    width: 2%;
    cursor: pointer;
}

/* seção do conteudo do página */

#inicio {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

#div_conteudo {
    margin-top: 5%;
    position: relative;
    min-height: 100%;
    width: 80vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    align-self: center;
    margin-bottom: 5%;
}

#info_game {
    color: white;
    display: flex;
    justify-content: space-evenly;
    width: 80%;
    height: 30vh;
    background-color: #0c1f36db;
    padding: 0.5%;
    border-radius: 12px;
    margin-bottom: 3%;
    /* box-shadow: #ec9c4740 0px 21px 80px, #ec9c471f 0px -8px 64px, #ec9c471f 0px 4px 6px, #ec9c472b 0px 12px 13px, #ec9c4717 0px -3px 5px; */
    box-shadow: #ec9c4740 0px 54px 55px, #ec9c471f 0px -12px 30px, #ec9c471f 0px 4px 6px, #ec9c472b 0px 12px 13px, #ec9c4717 0px -3px 5px;
}

.banner_jogo {
    height: 100%;
    width: 15%;
    border-radius: 12px;
}

#info_game h2,
h4 {
    height: 12%;
    font-style: normal;
    font-weight: 400;
    margin-left: 6%;
}

#info_game h2 {
    font-family: trajan-pro-3, serif;
}

#info_game h4 {
    font-size: 0.9em;
}

#txt_info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 66%;
}

#team_cherry {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo_cherry {
    margin-top: 10%;
    height: 28%;
    width: 100%;
}


/* Configuracão da parte da leaderboard */

#leaderboard {
    background-color: #0c1f36db;
    min-height: 70vh;
    width: 81%;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    border-top-right-radius: 12px;
    box-shadow: #ec9c4740 0px 21px 55px, #ec9c471f 0px -12px 30px, #ec9c471f 0px 4px 6px, #ec9c472b 0px 12px 13px, #ec9c4717 0px -3px 5px;
}

#category{
    margin-left: -11%;
    width: 70%;
    height: 7vh;
    display: flex;
    z-index: 999;
}

#category div{
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #9f9d9d;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    font-weight: 100;
    margin-right: 0.55%;
    background-color: #0c1f36db;
    cursor: pointer;
}

#div_any:hover{
    color: #FFFFFF !important; 
    background-color: #24455abf !important;
}
#div_apb:hover{
    color: #FFFFFF !important;
    background-color: #24455abf !important;
}
#div_all:hover{
    color: #FFFFFF !important;
    background-color: #24455abf !important;
}
#div_conq:hover{
    color: #FFFFFF !important;
    background-color: #24455abf !important;
}
#div_true:hover{
    color: #FFFFFF !important;
    background-color: #24455abf !important;
}

#div_submit{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 8vh;
    border-top-right-radius: 12px;
    background-color: #24455abf;
}

#div_submit button{
    margin: 0% 2% 0% 0%;
    cursor: pointer;
    transition: 0.5s;
    color: #252525;
    background-color: #ec9c47;
    border: none;
    border-radius: 12px;
    width: 12%;
    height: 50%;
    font-size: 0.85em;
    font-weight: bold;
}

#div_submit button:hover{
    box-shadow: 0 4px 16px 0 #e6e5e53d, 0 4px 10px 0 #e6e5e53d;
}

#div_submit span{
    color: white;
    margin-left: 2%;
}

table{
    min-height: auto;
    width: 100%;
    border-collapse: collapse;
    color: whitesmoke;
}

td{
    text-align: center;
    background-color: #24455abf;
    width: 19%;
}

.td_hora{
    width: 24%;
}

.td_main{
    border-bottom: 2px solid white;
    text-align: center;
    background-color: #16161691;
    /* background-color: #0a0d3699; */
}