@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

body {
    padding: 0;
    margin: 0;
    height: 100%;
}

* {
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

/* Config do scroll */

body::-webkit-scrollbar {
    width: 12px;               
  }
  
  body::-webkit-scrollbar-track {
    background: #0c1f36;        
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: #ec9c47;    
    border-radius: 20px;       
    border: 3px solid #0c1f36;  
  }

/* config navbar */

#titulo_back {
    font-family: trajan-pro-3, serif;
    font-style: normal;
    font-weight: 400;
    color: white;
}

.abaixo_titulo {
    width: 11%;
    height: auto;
    position: fixed;
    margin: 1% 0% 0% -10.3%;
    filter: drop-shadow(0 0 0.75rem #ec9c47);
}

#logo {
    height: 84%;
    cursor: pointer;

}

#myvideo {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: -1 !important;
}

#navbar {
    position: fixed;
    height: 8vh;
    width: 100vw;
    background-color: #0c1f36ba;
    z-index: 99;
    transition: all 0.5s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}

#container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 95%;
}

.navbar_icons {
    width: 100%;
    height: auto;
}

#profile_pic {
    width: 53%;
    height: auto;
    border-radius: 50%;
}

#div_usuario {
    cursor: pointer;
    height: auto;
    width: 5%;
    display: flex;
    font-size: 0.7em;
    color: white;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 0.5%;
}

#nome_usuario {
    font-family: 'Poppins', sans-serif;
}

.seta {
    transform: rotate(270deg);
    width: 2%;
    cursor: pointer;
}

/* seção do conteudo do página */

#sec_card_main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

#div_conteudo {
    margin-top: 5%;
    position: relative;
    min-height: 100%;
    width: 80vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    align-self: center;
    margin-bottom: 5%;
}

#info_game {
    color: white;
    display: flex;
    justify-content: space-evenly;
    width: 80%;
    height: 30vh;
    background-color: #0c1f36db;
    padding: 0.5%;
    border-radius: 12px;
    /* box-shadow: #ec9c4740 0px 21px 80px, #ec9c471f 0px -8px 64px, #ec9c471f 0px 4px 6px, #ec9c472b 0px 12px 13px, #ec9c4717 0px -3px 5px; */
    box-shadow: #ec9c4740 0px 54px 55px, #ec9c471f 0px -12px 30px, #ec9c471f 0px 4px 6px, #ec9c472b 0px 12px 13px, #ec9c4717 0px -3px 5px;
}

.banner_jogo {
    height: 100%;
    width: 15%;
    border-radius: 12px;
}

#info_game h2,
h4 {
    height: 12%;
    font-style: normal;
    font-weight: 400;
    margin-left: 6%;
}

#info_game h2 {
    font-family: trajan-pro-3, serif;
}

#info_game h4 {
    font-size: 0.9em;
}

#txt_info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 66%;
}

#team_cherry {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo_cherry {
    margin-top: 10%;
    height: 28%;
    width: 100%;
}


/* Configuracão da parte da leaderboard */

#leaderboard {
    background-color: #0c1f36db;
    min-height: 70vh;
    width: 81%;
    margin-top: 3%;
    border-radius: 12px;
    box-shadow: #ec9c4740 0px 54px 55px, #ec9c471f 0px -12px 30px, #ec9c471f 0px 4px 6px, #ec9c472b 0px 12px 13px, #ec9c4717 0px -3px 5px;
}