@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

body{
    padding: 0;
    margin: 0;
    height: 100vh;
}

*{
    z-index: 999;
    font-family: 'Poppins', sans-serif;;
}

#myvideo {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1 !important;
}

#container_main{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#div_logo{
    height: 20%;
    display: flex;
    justify-content: center;
}

#div_logo img{
    filter: drop-shadow(0px 54px 55px #ec9c47);
}

#container_selecao{
    height: 35%;
    transition: 1s;
    background-color: #2525257d;
    width: 15%;
    margin-top: 10%;
    border: 3px solid #a0a0a0;
    border-radius: 12px;
    font-size: 1.6em;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: #ec9c4740 0px 54px 55px, #ec9c471f 0px -12px 30px, #ec9c471f 0px 4px 6px, #ec9c472b 0px 12px 13px, #ec9c4717 0px -3px 5px;
}

.txt_selecao{
    color: #fceeee;
    text-align: center;
    outline: 0;
    border: 0;
    cursor: pointer;
    border-bottom: 2px solid #ec9c47;
    transition: 1s;
    margin-left: 12%;
}

.txt_selecao:hover{
    transition: 1s;
    text-shadow: 0 0 10px #ec9c47, 0 0 20px #ec9c47, 0 0 30px #ec9c47, 0 0 40px #ec9c47, 0 0 50px #ec9c47, 0 0 60px #ec9c47, 0 0 70px #ec9c47;

}

.txt_selecao:hover ~ .arrow_d{
    opacity: 1;
    transition: 0.5s;
}

.div_dupla{
    display: flex;
    transition: 1s;
}

.arrow_d{
    margin: 13% 0 0 10%;
    width: 23px;
    height: 23px;
    transition: 0.5s;
    transform: rotate3d(5, 2, 0, 180deg);
    opacity: 0;
}

#container_login{
    display: none;
    width: 100%;
    height: 100%;
}

#form_login{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
input{
    border-style: none;
    color: #f2f2f2;
    background-color: #25252500;
    border-bottom: #ff9a0c 2px outset;
    font-weight: bold;
    font-size: 15px;
    outline: 0;
}

input::placeholder{
    color: #f2f2f27e;
}

#form_login span{
    font-size: 12.8px ;
    color: #f2f2f2;
    text-align: center;
}

#form_login button, #form_cadastro button{
    transition: 0.5s;
    color: #252525;
    background-color: #ec9c47;
    border: none;
    border-radius: 12px;
    width: 33%;
    height: 8%;
    font-size: 0.7em;
    font-weight: bold;
    cursor: pointer;
}

#form_login button:hover, #form_cadastro button:hover{
    box-shadow: 0 12px 16px 0 #e6e5e53d, 0 17px 50px 0 #e6e5e53d;
}

#form_login img{
    transition: 1s;
    cursor: pointer;
    height: 15%;
    margin: -10% 0 -11% 0;
}

#form_login img:hover{
    transition: 1s;
    filter: drop-shadow(0 0 0.75rem #ec9c47);
}

#divisao_cad{
    display: none;
    width: 1px;
    height: 90%;
    background-color: #ec9c47;
}

.span_call_cadastro{
    transition: 0.5s;
    color: #09c5cb !important;
    cursor: pointer;
}

.span_call_cadastro:hover{
    color: #e46975 !important;
    transition: 0.5s;
}

#container_cadastro{
    display: none;
    width: 56%;
    height: 100%;
}

#form_cadastro{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#form_cadastro div{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}