@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

body {
    padding: 0;
    margin: 0;
    height: 100%;
}

* {
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

/* Config do scroll */

body::-webkit-scrollbar {
    width: 12px;               
  }
  
  body::-webkit-scrollbar-track {
    background: #0c1f36;        
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: #ec9c47;    
    border-radius: 20px;       
    border: 3px solid #0c1f36;  
  }

/* config navbar */

#titulo_back {
    font-family: trajan-pro-3, serif;
    font-style: normal;
    font-weight: 400;
    color: white;
}

.abaixo_titulo {
    width: 11%;
    height: auto;
    position: fixed;
    margin: 1% 0% 0% -10.3%;
    filter: drop-shadow(0 0 0.75rem #ec9c47);
}

#logo {
    height: 84%;
    cursor: pointer;
    margin-left: 3.5%;
}

#myvideo {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: -1 !important;
}

#navbar {
    position: fixed;
    height: 8vh;
    width: 100vw;
    background-color: #0c1f36ba;
    z-index: 99;
    transition: all 0.5s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}

#container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 95%;
}


#profile_pic {
    width: 53%;
    height: auto;
    border-radius: 50%;
}

#div_usuario {
    cursor: pointer;
    height: auto;
    width: 5%;
    display: flex;
    font-size: 0.7em;
    color: white;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 0.5%;
}

#nome_usuario {
    font-family: 'Poppins', sans-serif;
}

.seta {
    transform: rotate(270deg);
    width: 2%;
    cursor: pointer;
}

/* Seção de enviar o vídeo */

#inicio {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

#submit{
    height: 70vh;
    width: 60vw;
    background-color: #0c1f36db;
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    align-self: center;
    margin-bottom: 5%;
    box-shadow: #ec9c4740 0px 54px 55px, #ec9c471f 0px -12px 30px, #ec9c471f 0px 4px 6px, #ec9c472b 0px 12px 13px, #ec9c4717 0px -3px 5px;
    border-radius: 12px;
}

#form_video{
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

input{
    outline: none;
    background-color: #00000000;
    border: none;
    border-bottom: 1px solid whitesmoke;
    text-align: center;
    color: whitesmoke;
}

input::placeholder{
    color: #c3c2c2;
}

#inp_link{
    width: 100%;
}

select{
    cursor: pointer;
    text-align: center;
    outline: none;
    color: white;
    font-weight: bold;
    appearance: none;
    text-align: center;
    border: none;
    background-color: #24455abf;
    border-radius: 8px;
    min-height: 24px;
}